html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  background: white;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: 100%;
  min-height: 86px;
  box-shadow: 4px 6px 13px 0px rgba(215, 215, 215, 0.25);
}

header nav {
  width: 100%;
  padding: 20px 80px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  margin: 0;
  height: 86px;
}

header nav ul > svg {
  margin-right: auto;
}

header nav ul > li {
  margin-left: 2rem;
}

header nav li {
  list-style-type: none;
  font-size: 2rem;
  display: flex;
}

header nav li a {
  text-decoration: none;
  color: #000;
}

header nav li button {
  background: #6246ea;
  border: none;
  color: #fff;
  padding: 10px 17px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

main {
  width: 100%;
  height: 100%;
}

main .hero-container {
  background-color: #eff0f3;
  background-image: url("../images/Dot.svg");
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 0px 100px;
  height: 100%;
  min-height: 890px;
}

main .hero-container .hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  height: 100%;
  min-height: 890px;
}

main .hero-container > svg {
  display: block;
  width: 100%;
}

main .hero-container .hero-content-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  max-width: 664px;
  max-height: 345px;
}

main .hero-container .hero-content-left h1 {
  font-size: 6.4rem;
  color: #000;
  margin: 0;
}

main .hero-container .hero-content-left p {
  font-size: 2rem;
  color: #9a9494;
}

main .hero-container .hero-content-left .hero-email-input {
  width: 100%;
  height: 67px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

main .hero-container .hero-content-left .hero-email-input input {
  width: 100%;
  height: 67px;
  border-radius: 8px;
  padding: 21px 20px;
  background-color: #fffffe;
  border: none;
}

main .hero-container .hero-content-left .hero-email-input input::placeholder {
  font-size: 2rem;
  font-weight: 400;
  color: #c0c0c0;
}

main .hero-container .hero-content-left .hero-email-input input:focus {
  border: none;
}

main .hero-container .hero-content-left .hero-email-input button {
  height: 67px;
  background-color: #6246ea;
  padding: 20px 23px;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

main .category-container,
main .category-container .category-content,
main .category-container .card-container,
main .category-container .card-container .card-content {
  display: flex;
  flex-direction: column;
}

main .category-container {
  margin-top: 97px;
  height: 100%;
}

.category-container .category-content {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.article-container .article-header .featured-article h2 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

main .category-container .card-container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 37px;
  margin: 70px 0px;
}

main .category-container .card-container .card-content {
  height: 100%;
  min-height: 280px;
  width: 100%;
  min-width: 220px;
  background-color: #fff;
  border-radius: 8px;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 30px;
  box-shadow: 4px 6px 13px 0px rgba(215, 215, 215, 0.25);
}

main .category-container .card-container .card-content.card-select {
  background-color: #6246ea;
}

main .category-container .card-container .card-content .background-svg {
  background-color: #fff;
  border-radius: 8px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .category-container .card-container .card-content.card-select p {
  color: #fff;
}

main .category-container .card-container .card-content p {
  color: #232323;
  font-size: 2.4rem;
  font-weight: 700;
}

main .category-container.section-color {
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 0px 100px;
  height: 100%;
  min-height: 890px;
}

main .category-container.section-color .article-content-featured {
  box-shadow: 4px 6px 13px 0px #d7d7d740;
}

main .article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
}

main .article-container .article-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

main .article-container .article-header .featured-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main .article-container .article-header .featured-article h2 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

main .article-container .article-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}

main .article-container .article-header p {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

main .article-container .article-hero .article-content-featured {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 425px;
  box-shadow: 4px 6px 13px 0px #d7d7d740;
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
}

main .article-container .article-hero .article-content-featured h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}

.article-container
  .article-hero
  .article-content-featured
  .article-content-featured-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.article-container
  .article-hero
  .article-content-featured
  .article-content-featured-info
  img {
  margin-top: 15px;
}

.article-container
  .article-hero
  .article-content-featured
  .article-content-featured-info
  p {
  color: #2b2c34;
  font-weight: 600;
  font-size: 1.6rem;
}

.article-container
  .article-hero
  .article-content-featured
  .article-content-featured-info
  small {
  color: #2b2c34;
  font-weight: 400;
  font-size: 1.4rem;
}

.load-more-button {
  width: 100%;
  max-width: 165px;
  height: 64px;
  border: none;
  border-radius: 8px;
  padding: 20px 23px;
  gap: 10px;
  background-color: #6246ea;
  color: #fff;
  margin: 40px 0;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.latest-update {
  background-color: #eff0f3;
  width: 100%;
  height: 100%;
  max-height: 453px;
  padding: 58px 372px;
}

.latest-update .latest-update-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest-update .latest-update-content .image-circle {
  width: 130px;
  height: 130px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.latest-update .latest-update-content img {
  width: 130px;
  height: 130px;
  z-index: 3;
  position: relative;
}

.latest-update .latest-update-content h2 {
  font-size: 3.6rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin-top: 30px;
}

.latest-update .latest-update-content p {
  font-size: 2rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #c0c0c0;
  margin: 0;
}

.latest-update .latest-update-content .latest-update-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 30px;
}

.latest-update .latest-update-content .latest-update-input input {
  background-color: #fffffe;
  width: 100%;
  min-width: 444px;
  height: 67px;
  padding: 21px 20px;
  border: none;
  border-radius: 8px;
}

.latest-update .latest-update-content .latest-update-input input:placeholder {
  font-size: 2rem;
  color: #c0c0c0;
  font-weight: 400;
}

.latest-update .latest-update-content .latest-update-input button {
  background-color: #6246ea;
  width: 100%;
  max-width: 145px;
  height: 67px;
  border-radius: 8px;
  color: #fff;
  padding: 20px 23px;
  font-size: 2rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 70px 95px 120px 95px;
  gap: 160px;
  background-color: #e4e5e9;
}

footer .left-content,
footer .right-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer .left-content {
  flex-direction: column;
}

footer .left-content .social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

footer .right-content {
  justify-content: center;
  align-items: center;
  gap: 50px;
}

footer .right-content ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .right-content ul li {
  list-style-type: none;
  font-size: 1.8rem;
  font-weight: 400;
  color: #2b2c34;
}

footer .right-content ul li.category-title {
  list-style-type: none;
  font-size: 2rem;
  font-weight: 700;
  color: #2b2c34;
}
